---
layout: default
title: Our Story
slick_css: 'Yes'
slick_js: 'Yes'
permalink: /about/
subtitle1: "The Journey"
subtitle2: "Begins"
custom_bg: bg/about0.jpg
description: "Discover our passion for adventure at The Alpine Expeditions. As a premier trekking and expeditions company in Nepal, we specialize in creating unforgettable experiences amidst the Himalayas."
keywords: "trekking company Nepal, expeditions Nepal, adventure tours, Himalayan expeditions, trekking in Nepal, outdoor adventures"
---


<script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "WebPage",
      "name": "The Alpine Expeditions",
      "image": "{{ site.url }}/assets/css/images/{{ page.custom_bg | default: site.img }}",
      "url": "{{ site.url }}{{ page.url }}",
      "telephone": "+977-9863683851",
      "priceRange": "$1000 - $10000",
      "address": {
        "@type": "PostalAddress",
        "streetAddress": "Makalbari",
        "addressLocality": "KATHMANDU",
        "postalCode": "44600",
        "addressCountry": "NEPAL"
      },
      "geo": {
        "@type": "GeoCoordinates",
        "latitude": 32.039375,
        "longitude": 77.1324272
    },
    "hasMap": "<iframe src=\"https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d13525.534262300927!2d77.1349239!3d32.0588729!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x1c9c798dbeb6e498!2sTHE%20TRIPPY%20FROG!5e0!3m2!1sen!2sin!4v1579107517725!5m2!1sen!2sin\" width=\"600\" height=\"450\" frameborder=\"0\" style=\"border:0;\" allowfullscreen=\"\"></iframe>",
    "sameAs": [
            "{{ site.url }}/about"
            "https://www.facebook.com/thealpineexpeditions/",
            "https://twitter.com/thealpineexpeditions",
            "https://www.instagram.com/thealpineexpeditions/",
            "https://www.linkedin.com/in/thealpineexpeditions/",
            "https://www.pinterest.com/thealpineexpeditions/",
            "{{ site.url }}/"
      ]
    }
</script>


 <!----------Our Story -------->




    <div class="slider-wrapper" style="height: 50% !important; ">
       
       
        <div class="slide banner-slide slideBlog">
               
            <div class="slide-tagline">
                   
                    <span class="tagline-text">
                   
                        <div class="banner_logo" style="position: absolute; left: 0; top:-75%; width: 100%; text-align: center;">
                        <!-- <h2 class="trippy-name">OUR BL<i class="far fa-compass title-o"></i>G -->
                        <!-- <h2 class="trippy-name">ABOUT US

                            <p class="headline--detail" style="padding: 0; margin: 0; font-style: oblique; letter-spacing: .05em;">Understand more about the Himalayas and Himachal Pradesh!</p>
                        </h2> -->
                         </div>
                    </span>

             </div>
        </div>


        <span class="banner__skip">
                <a class="skipToContent-trigger" href="#content" style="padding: 1em 1.08em; background: rgba(0,0,0,.4); color:#39ff41; border-radius: 360px;"><i class="fas fa-leaf" style="transform: rotate(135deg); font-size: 1em;"></i></a>
        </span>
    

    </div>

 
    <div class="row row--padding-medium container-wide ">


        <div id='content'>
           
          

            <!-- <div class="product-container">


                <div class="product-item  ">
                    {% assign trek_data = site.data.trek-data.manaslu-base-camp-trek %}
                    <a href="{{ trek_data.bookLink }}" class="product-link" style="background-image: url('{{ site.baseurl }}/{{ trek_data.photoo }}');  background-size: cover; background-position: center;">
                        <div class="overlay">
                            <p class="content__sub-title">{{ trek_data.name }}</p>
                        </div>
                    </a>
                </div>

                <div class="product-item grid-col-span-2 ">
                    {% assign bike_data = site.data.bike-data.pokhara-valley-bike-tour %}
                    <a href="{{ bike_data.bookLink }}" class="product-link"  style="background-image: url('{{ site.baseurl }}/{{ bike_data.image }}');  background-size: cover;">
                        <div class="overlay">
                            <p class="content__sub-title">{{ bike_data.name }}</p>
                        </div>
                    </a>
                </div>
            
             
            
                <div class="product-item ">
                    {% assign rafting_data = site.data.rafting-data.trishuli-river-rafting %}
                    <a href="{% link _rafting/trishuli-river-rafting.html %}" class="product-link" style="background-image: url('{{ site.baseurl }}/{{ rafting_data.photoo }}');  background-size: cover;">
                        <div class="overlay">
                            <p class="content__sub-title">{{ rafting_data.name }}</p>
                        </div>
                    </a>
                </div>

            
                <div class="product-item four  ">
                    {% assign product_data = site.data.bike-data.upper-mustang-mtb-tour %}
                    <a href="{{ product_data.bookLink }}" class="product-link" style="background-image: url('{{ site.baseurl }}/{{ product_data.image }}');  background-size: cover; background-position: center;">
                        <div class="overlay">
                            <p class="content__sub-title">{{ product_data.name }}</p>
                        </div>
                    </a>
                </div>
            
                <div class="product-item ">
                    {% assign product_data = site.data.trek-data.mardi-himal-trek %}
                    <a href="{{ product_data.bookLink }}" class="product-link" style="background-image: url('{{ site.baseurl }}/{{ product_data.photoos }}');  background-size: cover; background-position: center;">
                        <div class="overlay">
                            <p class="content__sub-title">{{ product_data.name }}</p>
                        </div>
                    </a>
                </div>
            
             
            </div> -->
            
            


                <!-- {% for product in site.data.bike-data %}
                    {% if forloop.index < 3 %}
                        <a href="{{ product[1].bookLink }}">{{ product[1].name }}</a>
                    {% endif %}
                {% endfor %}

                {% for product in site.data.trek-data %}
                    {% if forloop.index < 3 %}
                        <a href="{{ product[1].bookLink }}">{{ product[1].name }}</a>
                    {% endif %}
                {% endfor %}

                {% for product in site.data.rafting-data %}
                    {% if forloop.index < 3 %}
                        <a href="{{ product[1].bookLink }}">{{ product[1].name }}</a>
                    {% endif %}
                {% endfor %} -->

            
                <br /><br />


                    <div class="wrapper_story">


                        <h1 class="content__title content__title-white no-underline">WHO WE ARE ?</h1> <br />

                        <p class="content__pg-black" style="">&quot;A Himalayan Based Trekking Company that deals with the adventurous
                          activities like trekking, camping ,white water rafting ,paragliding . Being born in the Himalayas we have the better experience and knowledge of mountains terrain than any other travel company .
                          <!-- Our company works with simple motto which is TRAVEL MORE LIVE MORE -->

                        </p>

                        <!-- <p class="content__pg-black"> We conduct the best treks in Himalayas for the small family groups , school or college groups and we make sure to their safety because their safety comes first in all the situation. -->
                            <!-- Some People, who don't know the value of a life, and also doesn't have certified guides.&quot;</p> -->

                        <p class="content__pg-black">Our passion is to introduce you to the true spirit of the Himalayas, be it through an intimate family journey, an educational trip for schools and colleges, or a bespoke adventure tailored just for you. Above all, we prioritize your safety. We believe that adventure should never come at the cost of well-being, and that's why we work only with certified guides who understand the profound value of life and the intricacies of these mountainous paths.

                            
                            
                            <br /><br /></p>


                        <p class="content__pg-black">Come, explore the Himalayas with those who call it home."</p>



                    </div>


        </div>





	
        
        <!-- <div class="trek_products">
            
                <div class="filter-trek" >
                    <button class="book_btn" data-region="annapurna">Annapurna Region</button>
                    <button class="book_btn active" data-region="everest">Everest Region</button>
                    <button class="book_btn" data-region="langtang">Langtang Region</button>
                    <button class="book_btn" data-region="manaslu">Manaslu Region</button>
                    <button class="book_btn" data-region="mustang">Mustang Region</button>
                    <button class="book_btn" data-region="dhaulagiri">Dhaulagiri Region</button>
                    <button class="book_btn" data-region="kanchenjunga">Kanchenjunga Region</button>
                    <button class="book_btn" data-region="makalu">Makalu Region</button>
                    <button class="book_btn" data-region="rolwaling">Rolwaling Region</button>
                </div>
                
                <div class="treks_wrapper">
                    {% for trek in site.data.trek-data %}
                        {% assign trek_key = trek[0] %}
                        {% assign trek_details = trek[1] %}
                        
                        <a class="trek-link" href="{{ site.baseurl }}/activities/trekking/{{ trek_key }}" >
                        
                            <div class="trekss" data-region="{{ trek_details.region | downcase }}" 
                                 style="background-image: url('{{ site.baseurl }}/{{ trek_details.photos }}');">
                                    
                                    <div class="overlayss">
                                       
                                        <h2>{{ trek_details.name }}</h2>
                                            <p>Duration: {{ trek_details.days }} Days & {{ trek_details.nights }} Nights</p>
                                            <p>Price: ${{ trek_details.price }}</p>
                                            <a href="{{ site.baseurl }}/activities/trekking/{{ trek_key }}">
                                                <button class="book_btn" type="submit" name="sendMsg">VIEW DETAILS</button>
                                            </a>
                                    </div>
                            </div>
                        </a>
                    
                    {% endfor %}
                </div>
        </div> -->





        <!-- <div class="testimonial-section">
           
            <div class="testimonial-header">
                <h2>Reviews From Happy Clients</h2>
            </div>
            
            <div class="testimonial-slideshows">
                {% for review in site.data.testimonials %}
                <div class="testimonial-slide" >
                    <img src="{{ site.baseurl }}/{{ review.image }}" alt="{{ review.name }}" class="customer-photo">
                    <div class="testimonial-content">
                        <p>{{ review.text | truncate: 150 }}</p>
                        <span class="customer-name">{{ review.name }}</span>
                        <button class="read-more">Read More</button>
                    </div>
                </div>
                {% endfor %}
            </div>
        
        </div>
        
        <div class="testimonial-popup" id="testimonial-popup">
            <div class="testimonial-popup-content">
                <span class="close-popup">&times;</span>
                <p id="popup-review-text"></p>
            </div>
        </div> -->

        




  
    </div>


