---
layout: 'default'
slick_css: 'Yes'
slick_js: 'Yes'
productScript: "app.createProducts('escape-trips-4');"
author_name : " THE ALPINE EXPEDITIONS "
custom_bg: "bg/banner.jpg"
tags : "Everest Base Camp Trek, Annapurna Circuit Trek, Annapurna Base Camp Trek, Langtang Valley Trek, Upper Mustang Trek, Manaslu Circuit Trek, Ghorepani Poon Hill Trek ,Gokyo Lakes Trek ,Kanchenjunga Base Camp Trek, Makalu Base Camp Trek "
description : "Welcome to Alpine Expeditions, a leading trekking and expedition company in Nepal. Explore our range of trekking packages, camping, rafting, bike tours, peak climbing, and paragliding adventures in the Himalayas."
keywords: "trekking in nepal, nepal trekking, himalayan treks, alpine expeditions, trekking packages, camping, rafting, bike tours, peak climbing, paragliding, nepal adventure travel, himalayan adventures, trekking companies in nepal"

---

	<script type="application/ld+json">
		{
		  "@context": "https://schema.org",
		  "@type": "TouristInformationCenter",
		  "name": "The Alpine Expeditions",
		  "image": "https://thealpineexpeditions.com/assets/images/home.jpg",
		  "url": "https://thealpineexpeditions.com/",
		  "telephone": "+977-9863683851",
		  "priceRange": "$1000 - $10000",
		  "address": {
			"@type": "PostalAddress",
			"streetAddress": "Makalbari",
			"addressLocality": "Kathmandu",
			"postalCode": "44600",
			"addressCountry": "NP"
		  },
		  "geo": {
			"@type": "GeoCoordinates",
			"latitude": 27.7172,
			"longitude": 85.3240
		  },
		  "hasMap": "https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d13525.534262300927!2d85.3240!3d27.7172!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x1c9c798dbeb6e498!2sTHE%20ALPINE%20EXPEDITIONS!5e0!3m2!1sen!2snp!4v1579107517725!5m2!1sen!2snp",
		  "sameAs": [
			"https://thealpineexpeditions.com",
			"https://www.facebook.com/thealpineexpeditions/",
			"https://twitter.com/thealpineexpeditions",
			"https://www.instagram.com/thealpineexpeditions/",
			"https://www.linkedin.com/in/thealpineexpeditions/",
			"https://www.pinterest.com/thealpineexpeditions/",
			"https://thealpineexpeditions.com/"
		  ]
		}
	</script>
	
<!--SEO-->
<div style="display: none;">
	<h1>Everest Base Camp Trek</h1>
	<h1>Annapurna Base Camp Trek</h1>
	<h1>Annapurna Circuit Trek</h1>
	<h1>Langtang Valley Trek</h1>
	<h1>Ghorepani Poon Hill Trek</h1>
	<h1>Manaslu Circuit Trek</h1>
	<h1>Upper Mustang Trek</h1>
	<h1>Makalu Base Camp Trek</h1>
	<h1>Kanchenjunga Base Camp Trek</h1>
	<h1>Gokyo Lakes Trek</h1>
</div>




<!-- 
<div class="video-banner">
	<video autoplay muted loop id="video-background">
	  <source src="/assets/css/video/banner.mp4" type="video/mp4">
	</video>
	<div class="overlay">
		
		<div class="slide-tagline">
			<span class="tagline-text">
			  <div class="banner_logo" style="position: absolute; left: 0; top:-75%; width: 100%; text-align: center;">
				  <h2 class="trippy-name">INTO THE HIMALAYAS <br/>
					  <p class="headline--detail" style="padding: 0; margin: 0; font-style: oblique; letter-spacing: .05em;">Experience the Himalayan Downhill passes with us!</p>
				  </h2>
			  </div>
			</span>
	
		  </div>
	</div>
  </div> -->
<div class="container-wide row--padding-wide">

		<div class="banner" style="background-image: url('assets/css/images/home.jpg');">
			<span class="banner__overlay"></span>
			
			<div class="banner__tagline banner__home" style="opacity: 1;">
				<p class="tagline" style="text-transform: none;"></p>
				<br />
				<p class="sub-tagline" style="display: inline;">
				
				</p>
			</div>
			<span class="banner__skip">
				<a class="skipToContent-trigger" href="#content" style="padding: 1em 1.08em; background: rgba(0,0,0,.4); color:#39ff41; border-radius: 360px;"><i class="fas fa-leaf" style="transform: rotate(135deg); font-size: 1em;"></i></a>
			</span>
		</div>


</div>
<!--- B-A-N-N-E-R -->
<!-- <div class="slider-wrapper">
  <button class="slide-prev"><i class="fas fa-chevron-left"></i></button>
  <div class="slider bannerslider">


		<div class="slide banner-slide slide0">
		  <div class="slide-tagline">
			  <span class="tagline-text">
			   
				  <h2 class="headline">Trek in the Himalayas</h2>
				  <p class="headline--detail"></p><br />
				  <a rel='canonical' href="{% link _activities/trekking.html %}">
					<button class="book_btn">Explore Trekking Routes</button>
				  </a>
			  </span>
		  
			</div>
			
		</div>
  
		<div class="slide banner-slide slide1">
		
		  <div class="slide-tagline">
			  <span class="tagline-text">
				  <h2 class="headline">Mountain Bike Tours</h2>
				  <p class="headline--detail"></p><br />
					<a rel='canonical' href="{% link _activities/bike-tours.html %}">
						<button class="book_btn">Explore Mountain Bike Tours</button>
					</a>
			  </span>
		  
			</div>
			
		  </div>
		
		
	
      <div class="slide banner-slide slide2">
		<div class="slide-tagline">
			<span class="tagline-text">
				<h2 class="headline">White Water Rafting</h2>
				<p class="headline--detail"></p><br />
					<a rel='canonical' href="{% link _activities/rafting.html %}">
						<button class="book_btn">Explore White Water Rafting Tours</button>
					</a>
					
			</span>
		
		  </div>
      </div>

 

    </div>




	<button class="slide-next"><i class="fas fa-chevron-right"></i></button>
	<span class="banner__skip">
            <a class="skipToContent-trigger" href="#content" style="padding: 1em 1.08em; background: rgba(0,0,0,.4); color:#39ff41; border-radius: 360px;"><i class="fas fa-leaf" style="transform: rotate(135deg); font-size: 1em;"></i></a>
	</span>
</div> -->



<!---------Our Story-------->
	<!-- <div style="background:#f0f0f0; padding: 0;">
		<div
			id='content'
			class="row row--padding-medium content container--white"
			style="padding-left:0; padding-right: 0; ">
	
			<br/>



			  
		

			<div class="container-wide" style="width: 100%;">
				<div style="width: 100%; display: inline-block; text-transform: none;">
					<p class="headline--detail" style="text-align: left; color: #111;">
						Lose yourself in the Himalayas and find your true-self. Don't stay inside the trap of routine.
						Whatever it is holding you back from travelling, and stopping you from enjoying
						the immense beauty of nature, let it go. Free the adventurer's soul trapped
						inside the body of a slave of routine, learn to escape and feel the magic of the
						himalayan landscape.Walking over the snowy track, with a stick in hand to
						balance ourselves, is just like when we have problems in our life and we try to
						find the balance with hope and efforts. Not a simple life, but "Adventurous
						life" teaches us everything.
					</p>
					<br/>
				</div>

			</div>



		</div>
	</div>
 -->

	

<!---------Why Us? -------->
	<!-- <div
		class="row row--padding-medium content"
		style="padding-left:0; padding-right: 0; ">

		<div id="container">
			
			<div id="hero">
				<img src="/assets/css/images/why.jpg" alt="Hero Image">
				<div id="overlay">
					<h1>Embark on a journey to find your dream destination</h1>
					<p>Where adventure and relaxation await, creating unforgettable memories along the way</p>
				</div>
			</div>
		
			<section id="how-it-works">
				<p>How it works</p>
				<h1>One click for you</h1>
				<ul>
					<li>
						<div class="icon">
							<i class="fas fa-map-marker-alt"></i>
						</div>
						<div class="text">
							<h3>Find your destination</h3>
							<p>Embark on a journey to discover your dram destination where adventure and relaxation awaits</p>
						</div>
					</li>
					<li>
						<div class="icon">
							<i class="fas fa-ticket-alt"></i>
						</div>
						<div class="text">
							<h3>Book a ticket</h3>
							<p>Ensure a smooth travel experience by booking tickets to your preferred destination via our booking platform</p>
						</div>
					</li>
					<li>
						<div class="icon">
							<i class="fas fa-credit-card"></i>
						</div>
						<div class="text">
							<h3>Make payment</h3>
							<p>We offer a Variety of payment options to meet you preferences ans ensure a hassle free transaction process</p>
						</div>
					</li>
					<li>
						<div class="icon">
							<i class="fas fa-passport"></i>
						</div>
						<div class="text">
							<h3>Explore destination</h3>
							<p>You'll be Immerse in captivating tapestry of sights, sounds and tastes, as you wind your way through the ancient streets</p>
						</div>
					</li>
				</ul>
			</section>
			
		</div>
		
		
	</div> -->






<div class="container-wide row--padding-wide " id="content">

	


			<div class="">
				
				<div style="text-align: left;"
				class="row--padding-medium">
					<h2> where to go </h2>
					<h1>Popular Destinations</h1>
				</div>

			
				<div class="button-container ">
					<button class="toggle-button" onclick="showSection('peaks')"> <p>Peak Climbing</p></button>
					<button class="toggle-button" onclick="showSection('treks')"><p>Treks</p></button>
					<button class="toggle-button" onclick="showSection('tours')"> <p>MTB Tours</p> </button>
				</div>
			
				<br/>

				<div id="treks" class="content-section">
					{% for trek in site.data.trek-data %}
						{% if trek[1].popular == "Y" %}
						<a href="{{ site.baseurl }}/activities/trekking/{{ trek[0] }}" class="tour-link">
							<div class="tour-card">
								
								<div class="tour-photo" style="background-image: url('{{ site.baseurl }}/{{ trek[1].photos }}');">
									<div class="tour-card-overlay">
										<div class="tour-info">
									
											<h2 class="__title"> {{ trek[1].name }}</h2>
											
											<p class="_sub-title"> <strong>Location:</strong>  {{ trek[1].region }} </p>
					
											<p class="__sub-title"> <strong>Price:</strong> Starts at ${{ trek[1].price }}</p>
										</div>
		
									</div>
								</div>

						
								
							</div>
						</a>
						{% endif %}
					{% endfor %}
				</div>

				<div id="peaks" class="content-section active">
					{% for peak in site.data.peak-data %}
						{% if peak[1].popular == "Y" %}
						<a href="{{ site.baseurl }}/activities/peak-climbing/{{ peak[0] }}" class="tour-link">
							<div class="tour-card">
								<div class="tour-photo" style="background-image: url('{{ site.baseurl }}/{{ peak[1].photos }}');">
									<div class="tour-card-overlay">

										<div class="tour-info">
											<h2>{{ peak[1].name }}</h2>
											<p><strong>Location:</strong> {{ peak[1].region }}</p>
											<p><strong>Price:</strong> ${{ peak[1].price }}</p>
										</div>

									</div>
								</div>
								
							</div>
						</a>
						{% endif %}
					{% endfor %}
				</div>

				<div id="tours" class="content-section">
					{% for tour in site.data.bike-data %}
						{% if tour[1].popular == "Y" %}
						<a href="{{ site.baseurl }}/activities/bike-tours/{{ tour[0] }}" class="tour-link">
							<div class="tour-card">
								<div class="tour-photo" style="background-image: url('{{ site.baseurl }}/{{ tour[1].photos }}');">
									<div class="tour-card-overlay">
										<div class="tour-info">
											<h2>{{ tour[1].name }}</h2>
											<p><strong>Location:</strong> {{ tour[1].region }}</p>
											<p><strong>Price:</strong> ${{ tour[1].price }}</p>
										</div>

									</div>
								</div>
								
							</div>
						</a>
						{% endif %}
					{% endfor %}
				</div>
			</div>


</div>



	<!-- <div
		class="row row--padding-medium content"
		style="padding-left:0; padding-right: 0; ">

			

	</div> -->


	


    <!----------------------P-O-P--U-P---Y-O-U-T-U-B-E---------------------->

<!-- 
    <div id="myModal" class="modal">
      <div class="modal-content">
        <button type="button" class="close"  data-toggle="tooltip" title="Close" data-dismiss="modal">
			<span>&times;</span></button>
        <div class="embed-responsive embed-responsive-16by9">
          <iframe allowfullscreen="allowfullscreen" mozallowfullscreen="mozallowfullscreen" msallowfullscreen="msallowfullscreen" oallowfullscreen="oallowfullscreen" webkitallowfullscreen="webkitallowfullscreen" class="embed-responsive-item" src="" id="video"  allowscriptaccess="always">></iframe>
        </div>
      </div>
    </div> -->



    <!------------P-A-C-K-A-G-E-S-------->
	<!--
		<div style="position: relative;">
		<span style="position: absolute; left: 0; top: 0; width: 100%; height: 100%; background: url('{{ 'assets/css/images/static.gif' | absolute_url }}') repeat center; opacity: .05; z-index: -1;"></span>
		<div id='content' class="row row--padding-medium content container-wide">
			<h1 class="content__title content__title-white" data-aos="zoom-out">POPULAR PACKAGES</h1>
			<br />

			<div class="wrapper col-medium" data-aos="zoom-in" data-aos-easing="ease-in-out-quad">
				<a href="" class="wopper wopper--shimla-manali">
					<span class="offer-badge">15%<br />OFF</span>
				</a>
				<div class="wopper__footer">
					<div class="wopper__info" style="padding: 0;">
						<a class="wopper__info-price wopper__act-name" href=""><span class="package-name">Shimla-Manali Tour</span><br />
						<span style="display: inline-block; padding: 0.5em 0.1em; background: #FF5722;font-size: 1em; color:#fbfbfb; margin-top: 0.4em;">
							<span style="text-decoration:line-through;">Rs.25,000</span>
							<span style="">Rs.21,999</span><br />
						</span>
						</a>

					</div>
				</div>
			</div>
			<div class="wrapper col-medium" data-aos="zoom-in" data-aos-easing="ease-in-out-quad">
				<a href="" class="wopper wopper--kasol">
					<span class="offer-badge">10%<br />OFF</span>
				</a>
				<div class="wopper__footer">
					<div class="wopper__info" style="padding: 0;">
						<a class="wopper__info-price wopper__act-name" href=""><span class="package-name">Kasol-Manali Tour</span><br />
						<span style="display: inline-block; padding: 0.5em 0.1em; background: #FF5722;font-size: 1em; color:#fbfbfb; margin-top: 0.4em;">
							<span style="text-decoration:line-through;">Rs.28,000</span>
							<span style="">Rs.24,999</span><br />
						</span>
						</a>
					</div>
				</div>
			</div>
			<div class="wrapper col-medium" data-aos="zoom-in" data-aos-easing="ease-in-out-quad">
				<a href="" class="wopper wopper--spiti">
					<span class="offer-badge">30%<br />OFF</span>
				</a>
				<div class="wopper__footer">
					<div class="wopper__info" style="padding: 0;">
						<a class="wopper__info-price wopper__act-name" href=""><span class="package-name">Spiti-Kinnaur Tour</span><br />
						<span style="display: inline-block; padding: 0.5em 0.1em; background: #FF5722;font-size: 1em; color:#fbfbfb; margin-top: 0.4em;">
							<span style="text-decoration:line-through;">Rs.35,000</span>
							<span style="">Rs.29,999</span><br />
						</span>
						</a>
					</div>
				</div>
			</div>

		</div>
		</div>
	-->



<!---------Choose Your Trek-------->


<div style="display: none; background: url(assets/css/images/bg/trekbg.jpg) center no-repeat; padding: 0; background-size: cover; background-attachment: fixed;">
<div id='content' class="row row--padding-wide content" style="padding-left:0; padding-right: 0; background-color: rgba(42, 43, 47, 0.50);">
	
	<h2 class="content__title content__title-white no-underline" style="color:#fff; padding: 0; margin: 0;">
		<i class="far fa-heart"></i> </h2><br />
	<h1 class="content__title content__title-white no-underline" style="color:#fff; padding-top: 0;">Popular Treks
	<p class="headline--detail" style="padding: 0; margin: 0; font-style: oblique; letter-spacing: .05em;">"Mountains are calling!"</p></h1>
	<br />
	
		


		<div class="slider-wrapper trek" style="">
		
			 <button class="slide-center-prev"><span><i class="fas fa-chevron-left"></i></span></button>
		
		<div class="trek-slider slidejs center">

				<!-- Everest Base Camp Trek  -->
				<div class="slidee trek-slide">

				<a href="{% link _treks/everest-base-camp.html %}">

				<!-- <img style=" " class="trek-slide--img trek-slide0"> -->
				<img  class="trek-slide--img" src="/assets/css/images/treks/everest_base_min.jpg" alt="Everest Base Camp Trek" title="Everest Base Camp Trek">

				<!-- <img style=" " title="Everestx Base Camp Trek" alt="Everest Base Camp Trek" loading="" class="trek-slide--img trek-slide0"> -->
				<!-- <span class="trek-slide--price"><span style="font-size: 60%;">From</span> <i class="fa fa-rupee-sign"></i> 5,000/-</span> -->
						
				<div class="trek-slide--text">
					<!-- <div class="trek-slide--meta">
						<div class="">
							<span class="meta-type"><i class="far fa-clock"></i> Days</span>
							<span>2</span>
						</div>
						<div class="">
							<span class="meta-type"><i class="fas fa-mountain"></i> Altitude</span>
							<span>6,400 ft</span>
						</div>
						<div class="">
							<span class="meta-type"><i class="fa fa-tachometer-alt"></i> Grade</span>
							<span>Easy</span>
						</div>
					</div> -->
					<h2 class="trek-slide--title" ><i class="fa fa-map-marker-alt"></i> Everest Base Camp Trek</h2>

					<div class="trek-slide--info">
						<span class="meta-type"><i class="fa fa-tachometer-alt"></i> Grade</span>&nbsp;
						<span class="meta-type"><i class="far fa-clock"></i> Days</span>&nbsp;
						<span class="meta-type"><i class="fas fa-mountain"></i> Altitude</span>&nbsp;

						<a href="{% link _treks/everest-base-camp.html %}">
							<button class="book_btn" type="submit" name="sendMsg">BOOK NOW</button>
						</a>
					</div>
				</div>

				</a>
				</div>

				<!-- Annapurna Base Camp Trek -->
				<div class="slidee trek-slide">
				<a href="{% link _treks/annapurna-base-camp.html %}">

					<img class="trek-slide--img" src="/assets/css/images/treks/annapurna_base_camp_min.jpg" alt="Annapurna Base Camp Trek" title="Annapurna Base Camp Trek">
					
				<!-- <img class="trek-slide--img trek-slide1"> -->
				<!-- <span class="trek-slide--price"><span style="font-size: 60%;">From</span> <i class="fa fa-rupee-sign"></i> 12,000/-</span> -->
				<div class="trek-slide--text">
					<!-- <div class="trek-slide--meta">
						<div class="">
							<span>7</span>
							<span class="meta-type"><i class="far fa-clock"></i> Days</span>
						</div>
						<div class="">
							<span>13,500 ft</span>
							<span class="meta-type"><i class="fas fa-mountain"></i> Altitude</span>
						</div>
						<div class="">
							<span>Difficult</span>
							<span class="meta-type"><i class="fa fa-tachometer-alt"></i> Grade</span>
						</div>
					</div> -->
					<h2 class="trek-slide--title"><i class="fa fa-map-marker-alt"></i> Annapurna Base Camp Trek</h2>
					<div class="trek-slide--info">
						<span class="meta-type"><i class="fa fa-tachometer-alt"></i> Grade</span>&nbsp;
						<span class="meta-type"><i class="far fa-clock"></i> Days</span>&nbsp;
						<span class="meta-type"><i class="fas fa-mountain"></i> Altitude</span>&nbsp;

						<a href="{% link _treks/annapurna-base-camp.html %}">
							<button class="book_btn" type="submit" name="sendMsg">BOOK NOW</button>
						</a>
					</div>
				</div>
				</a>
				</div>


				<!-- Panch Pokhari Trek -->
				<div class="slidee trek-slide">
				<a href="{% link _treks/panch-pokhari.html %}">

				<img class="trek-slide--img" src="/assets/css/images/treks/panch_min.jpg" alt="Panch Pokhari Trekk" title="Panch Pokhari Trek">

				<!-- <img class="tresssk-slide--img trek-slide1"> -->
				<!-- <span class="trek-slide--price"><span style="font-size: 60%;">From</span> <i class="fa fa-rupee-sign"></i> 12,000/-</span> -->
				<div class="trek-slide--text">
				<!-- <div class="trek-slide--meta">
				<div class="">
					<span>7</span>
					<span class="meta-type"><i class="far fa-clock"></i> Days</span>
				</div>
				<div class="">
					<span>13,500 ft</span>
					<span class="meta-type"><i class="fas fa-mountain"></i> Altitude</span>
				</div>
				<div class="">
					<span>Difficult</span>
					<span class="meta-type"><i class="fa fa-tachometer-alt"></i> Grade</span>
				</div>
				</div> -->
				<h2 class="trek-slide--title"><i class="fa fa-map-marker-alt"></i> Panch Pokhari Trek</h2>
				<div class="trek-slide--info">
				<span class="meta-type"><i class="fa fa-tachometer-alt"></i> Grade</span>&nbsp;
				<span class="meta-type"><i class="far fa-clock"></i> Days</span>&nbsp;
				<span class="meta-type"><i class="fas fa-mountain"></i> Altitude</span>&nbsp;

				<a href="{% link _treks/panch-pokhari.html %}">
					<button class="book_btn" type="submit" name="sendMsg">BOOK NOW</button>
				</a>
				</div>
				</div>
				</a>
				</div>

				<!-- Manaslu Base Camp Trek -->
				<div class="slidee trek-slide">
				<a href="{% link _treks/manaslu-base-camp.html %}">
				<img  class="trek-slide--img" src="/assets/css/images/treks/manasalu_min.jpg" alt="Manaslu Base Camp Trek " title="Manaslu Base Camp Trek ">

				<!-- <img class="trek-slide--img trek-slide2"> -->
				<!-- <span class="trek-slide--price"><span style="font-size: 60%;">From</span> <i class="fa fa-rupee-sign"></i> 5,000/-</span> -->
				<div class="trek-slide--text">
					<!-- <div class="trek-slide--meta">
						<div class="">
							<span>3</span>
							<span class="meta-type"><i class="far fa-clock"></i> Days</span>
						</div>
						<div class="">
							<span>9,900 ft</span>
							<span class="meta-type"><i class="fas fa-mountain"></i> Altitude</span>
						</div>
						<div class="">
							<span>Easy</span>
							<span class="meta-type"><i class="fa fa-tachometer-alt"></i> Grade</span>
						</div>
					</div> -->
					<h2 class="trek-slide--title"><i class="fa fa-map-marker-alt"></i> Manaslu Base Camp Trek</h2>
					<div class="trek-slide--info">
						<span class="meta-type"><i class="fa fa-tachometer-alt"></i> Grade</span>&nbsp;
						<span class="meta-type"><i class="far fa-clock"></i> Days</span>&nbsp;
						<span class="meta-type"><i class="fas fa-mountain"></i> Altitude</span>&nbsp;

						<a href="{% link _treks/manaslu-base-camp.html %}">
							<button class="book_btn" type="submit" name="sendMsg">BOOK NOW</button>
						</a>
					</div>
				</div>
				</a>
				</div>


				<!-- Langtang Valley Trek -->
				<div class="slidee trek-slide">
				<a href="{% link _treks/langtang-valley.html %}">
				<img  class="trek-slide--img" src="/assets/css/images/treks/langtang_valley_min.jpg" alt="Langtang Valley Trek" title="Langtang Valley Trek">

				<!-- <img class="trek-slide--img trek-slide3"> -->
				<!-- <span class="trek-slide--price"><span style="font-size: 60%;">From</span> <i class="fa fa-rupee-sign"></i> 6,000/-</span> -->
				<div class="trek-slide--text">
					<!-- <div class="trek-slide--meta">
						<div class="">
							<span>3</span>
							<span class="meta-type"><i class="far fa-clock"></i> Days</span>
						</div>
						<div class="">
							<span>14,107 ft</span>
							<span class="meta-type"><i class="fas fa-mountain"></i> Altitude</span>
						</div>
						<div class="">
							<span>Moderate</span>
							<span class="meta-type"><i class="fa fa-tachometer-alt"></i> Grade</span>
						</div>
					</div> -->
					<h2 class="trek-slide--title"><i class="fa fa-map-marker-alt"></i> Langtang Valley Trek</h2>
					<div class="trek-slide--info">
						<span class="meta-type"><i class="fa fa-tachometer-alt"></i> Grade</span>&nbsp;
						<span class="meta-type"><i class="far fa-clock"></i> Days</span>&nbsp;
						<span class="meta-type"><i class="fas fa-mountain"></i> Altitude</span>&nbsp;

						<a href="{% link _treks/langtang-valley.html %}">
							<button class="book_btn" type="submit" name="sendMsg">BOOK NOW</button>
						</a>
					</div>
				</div>
				</a>
				</div>


			</div>

			   <button class="slide-center-next"><span><i class="fas fa-chevron-right"></i></span></button>
		</div>
		
		<a href="{% link _activities/trekking.html %}" style="display: block; margin-top: 8em;">
			<button class="book_btn more-trippy_btn" type="submit" name="sendMsg"><span class="trippy_btn-left"></span>Load Treks<span class="trippy_btn-right"></span></button>
		</a>

</div>
</div>





<!---------Featured -------->
<!-- <div style="background:#06080b; padding: 0;">
<div class="row row--padding-wide content container--white" style="padding-left:0; padding-right: 0; ">

	<h2 class="content__title content__title-white no-underline" style="/*color:#fff;*/ padding: 0; margin: 0;">
		<i class="fas fa-hiking"></i> </h2><br />
	<h1 class="content__title content__title-white no-underline" style="/*color:#fff;*/ padding-top: 0;">Adventure in Our Soul
	<p class="headline--detail" style="padding: 0; margin: 0; font-style: oblique; letter-spacing: .05em; color: #333;">"Thrill your soul with these adventures!"</p></h1>
	<br />
	
	<div class="container-wide responsive-container ">
		

		
		<div class="wrapper responsive-height" data-aos="zoom-in" data-aos-easing="ease-in-out-quad">
			<a href="{% link _activities/bike-tours.html %}" class="wopper wopper--bike">
			</a>
			<div class="wopper__footer adventure">
				<div class="wopper__info" style="padding: 0;">
					<a class="wopper__info-price white wopper__act-name" href="{% link _activities/bike-tours.html %}"><span>MTB</span></a>
				</div>
			</div>
		</div>

		<div class="wrapper responsive-height" data-aos="zoom-in" data-aos-easing="ease-in-out-quad">
			<a href="{% link _activities/rafting.html %}" class="wopper wopper--rafting">
			</a>
			<div class="wopper__footer adventure">
				<div class="wopper__info" style="padding: 0;">
					<a class="wopper__info-price white wopper__act-name" href="{% link _activities/rafting.html %}"><span>Rafting</span></a>
				</div>
			</div>
		</div>

		<div class="wrapper responsive-height" data-aos="zoom-in" data-aos-easing="ease-in-out-quad">
			<a href="{% link _activities/rock-climbing.html %}" class="wopper wopper--rock">
			</a>
			<div class="wopper__footer adventure">
				<div class="wopper__info" style="padding: 0;">
					<a class="wopper__info-price white wopper__act-name" href="{% link _activities/rock-climbing.html %}"><span>Rock Climbing</span></a>
				</div>
			</div>
		</div>


		<div class="wrapper responsive-height" data-aos="zoom-in" data-aos-easing="ease-in-out-quad">
			<a href="{% link _activities/paragliding.html %}" class="wopper wopper--paragliding">
			</a>
			<div class="wopper__footer adventure">
				<div class="wopper__info" style="padding: 0;">
					<a class="wopper__info-price white wopper__act-name" href="{% link _activities/paragliding.html %}"><span>Paragliding</span></a>
				</div>
			</div>
		</div>

	</div>
</div>
</div> -->


<!---------Motivation-------->
<!--
<div class="banner" style="background-image: url(assets/css/images/bg/quote.jpg);">

</div>
-->


<!---------Escape Trips uncomment ot Show -------->
 <div style="background: url(assets/css/images/bg/tripbg.jpg) center no-repeat; padding: 0; background-size: cover; background-attachment: fixed;">



<!-- <div class="row row--padding-wide content" style="padding-left:0; padding-right: 0; background-color: rgba(42, 43, 47, 0.50);">

	<h2 class="content__title content__title-white no-underline" style="color:#fff; padding: 0; margin: 0;">
		<i class="fas fa-gift"></i> </h2><br />
	<h2 class="content__title content__title-white no-underline" style="color:#fff; padding-top: 0; margin-bottom: 0; padding-bottom: 0;">Escape Trips
	<p class="headline--detail" style="padding: 0; margin: 0; font-style: oblique; letter-spacing: .05em;">"Escape to the Himalayas!"</p></h2>
	<br />

	<div class="row container-wide">
				<div class="productWrapper">

					<div class="loader__wrapper"><div></div><div></div></div>
				</div>
				<br/>
	</div>

	<a href="{% link escape-trips.html %}" style="display: block; margin-top: 3em;">
		<button class="trippy_btn more-trippy_btn" type="submit" name="sendMsg"><span class="trippy_btn-left"></span>More Escape Trips<span class="trippy_btn-right"></span></button>
	</a>
</div>
</div>  -->




<!---------Q-U-O-T-E---------->
<!-- 
<div class="banner banner_quote" style="background-image: url('assets/css/images/ourstorybg.jpeg'); background-attachment: fixed;">
    <span class="banner__overlay"></span>
    <div class="row row--padding-wide container-wide">
        <h1 class="quote content__title-white" data-aos="fade-right" style="font-size: 3em;">&quot;Into The Himalayas&quot;</h1>
    </div>
</div> -->



<!---------From The Blog-------->
		<!-- <div style="background:#f0f0f0; padding: 0;">
			<div class="row row--padding-medium content container--white" style="padding-left:0; padding-right: 0; ">

		
				<h2 class="content__title content__title-white no-underline" style="padding: 0; margin: 0;">
					<i class="fas fa-blog"></i> </h2><br />
				<h2 class="content__sub-title content__title-white no-underline" style="padding-top: 1em; margin-bottom: 0; padding-bottom: 2em;">FROM THE NEWS
				<p class="headline--detail" style="padding: 0; margin: 0; font-style: oblique; letter-spacing: .05em; color: #333;">"Understand more about the Himalayas !"</p></h2>
				<br />

				<div class="container-wide" style="width: 100%;">
					<div style="width: 100%; display: inline-block; text-transform: none;">
					<br />
						<ul>
						{% for post in site.posts limit:4  %}
							<li class="post-wrapper wrapper" style=" box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.1) !important; border-radius:1em;">
								<a href="{{ post.url }}">
									<img src="/assets/css/images/{{ post.custom_bg }}" style="width: 100%;">
								</a>
							<div class="content blogpost-meta" style="text-align: left;">
								<h2 class="content__sub-title blogpost-title">
									<a href="{{ post.url }}">{{ post.title }}</a>
								</h2>

									<div class="headline--detail blogpost-excerpt">
										{{ post.description }}.....
									</div>

									<div class="blogpost-read">
									<a href="{{post.url}}" style="">
										<button class="book_btn more-trippy_btn">
											Read More
										</button>
									</a>
									</div>
							</div>
							</li>
						{% endfor %}
						</ul>
					</div>
					
				 <div style="background: url(assets/css/images/bg/ourstorybg.jpeg) no-repeat center; background-size: cover; width: 50%; display: inline-block; height: auto;">

					</div> 

				<a href="{% link news.html %}" style="display: block; margin-top: 3em;">
					<button class="book_btn more-trippy_btn" type="submit" name="sendMsg"><span class="trippy_btn-left"></span>See All Posts<span class="trippy_btn-right"></span></button>
				</a>
			</div>
			</div> -->



<!---------FEATURED PARTNERS-------->
   <div class="row row--padding-medium container-wide content">


       <div style="padding: 0 1em;">
           <h1 class="content__title no-underline" style="color:#333; padding-bottom: 0;">FEATURED PARTNERS</h1>
         
		   <section class="testimonial" data-aos="fade-in">


				<div class="row--padding-medium ">
					<a target="_blank" href="https://www.getyourguide.com/"> <div class="back"> <img src="assets/css/images/getyourguide.png" alt="getyourguide" title="getyourguide"> </div></a>
					<!-- <div class="back"><img src="assets/css/images/tripadvisor.png" alt="tripadviser" title="tripadviser"> </div> -->
				</div>

               <div class="row--padding-medium">

                 <a target="_blank" href="https://www.touristisrael.com/"> <div class="back"> <img src="assets/css/images/israel.jpg" alt="touristisrael" title="touristisrael"> </div></a>
               </div>

			   <div class="row--padding-medium ">
						<a target="_blank" href=""> <div class="back"> <img src="assets/css/images/wildcone.png" alt="wildcone" title="wildcone"> </div></a>
						<!-- <div class="back"> <img src="assets/css/images/logo-explore-himalaya.jpg" alt="logo-explore-himalaya" title="logo-explore-himalaya"> </div> -->
		  		 </div>

			   
               <div class="row--padding-medium ">
					<a target="_blank" href="https://www.civitatis.com/"> <div class="back"> <img src="assets/css/images/civitatis.png"  alt="civitatis-logo" title="civitatis"> </div></a>
					<!-- <div class="back"><img src="assets/css/images/civitatis.png" alt="civitatis-logo" title="civitatis"> </div> -->
               </div>

               <div class="row--padding-medium ">
					<a target="_blank" href=" https://www.tripadvisor.com/"> <div class="back"> <img src="assets/css/images/tripadvisor.png" alt="tripadviser" title="tripadviser"> </div></a>
					<!-- <div class="back"><img src="assets/css/images/tripadvisor.png" alt="tripadviser" title="tripadviser"> </div> -->
               </div>


			<div class="row--padding-medium ">
				<a target="_blank" href="https://recco.com/"> <div class="back"> <img src="assets/css/images/recco.png" alt="recco" title="recco"> </div></a>
				<!-- <div class="back"><img src="assets/css/images/tripadvisor.png" alt="tripadviser" title="tripadviser"> </div> -->
			</div>


			

           </section>
       </div>
   </div>

    <!---------Q-U-O-T-E---------->

	<!-- <div class="banner banner_quote" style="background-image: url('assets/css/images/ourstorybg.jpeg'); background-attachment: fixed;">
        <span class="banner__overlay"></span>
		<div class="row row--padding-wide container-wide">
			<h1 class="quote content__title-white" data-aos="fade-right" style="font-size: 3em;">&quot;Into The Himalayas&quot;</h1>
		</div>
    </div> -->


		
	<script type="application/ld+json">
		{
		  "@context": "http://schema.org",
		  "@type": "WebSite",
		  "name": "{{ site.url }}{{ page.url }}",
		  "url": "{{ site.url }}{{ page.url }}"
		 }
	</script>
	
	
	